@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #070707;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px;
  margin-top: 80px;
  color: white;
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

.div-top {
  width: 100%;
  height: 400px;
  background: #070707;
  display: flex;
  justify-content: center;
}

.div-box {
  position: absolute;
  width: 900px;
  height: 830px;
  top: 180px;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.div-one {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: 700;
  border: 1px solid #9e9e9e;
  padding: 8px 10px;
}

input {
  border: none;
  outline: none;
  color: #9e9e9e;
  font-size: 18px;
  width: 80%;
}

.div-two {
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  margin: 20px;
}

.input-tree input {
  width: 90%;
}

.input-tree {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input-four {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.div-two::after {
  justify-self: center;
  position: absolute;
  top: 350px;
  width: 850px;
  content: " ";
  border: 1px solid #9e9e9e;
}

.div-tree {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  width: 850px;
}

h2.bold {
  font-weight: 700;
}

.div-four {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  background: #2860bb;
  height: 100px;
  border-radius: 2px;
}

.div-four h2 {
  color: white;
  margin-left: 20px;
  letter-spacing: 1px;
}

.div-four a {
  margin: auto 60px auto 0;
  padding: 20px 40px;
  background-color: white;
  text-decoration: none;
  color: #2860bb;
  letter-spacing: 1px;
}

p {
  color: #9e9e9e;
  text-align: center;
}
